<div class="modal-header"   >
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-signin" (ngSubmit)="onSubmit(updateForm)" #updateForm="ngForm">
    <div class="form-group">
      <div class="form-group">
        <label for="username">Email address</label>
        <input type="email" class="form-control" name="username" [ngModel]="this.user.username" disabled />
      </div>
      <label for="fullname">Fullname</label>
      <input type="text" class="form-control" name="fullname" [ngModel]="this.user.fullname" />
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" name="phone" [ngModel]="this.user.phone" />
    </div>

    <div class="form-group d-flex justify-content-end">
      <button type="submit" class="btn btn-primary btn-lg mr-2" data-dismiss="modal" >Save</button>
      <button type="button" class="close"  (click)="activeModal.dismiss()">
      Close
      </button>
    </div>
  </form>
</div>
