<main role="main" class="container">
  <div class="jumbotron center">
    <h1>List Account</h1>
    <p class="lead">This is List Account</p>
  </div>
    <form class="form-inline  my-lg-0">
      <input class="form-control mr-sm-4" type="text" name="username"  [(ngModel)]="username"   (ngModelChange)="Search()" 
      placeholder="Search">
      <!-- <button class="button" (click)="Search()" >Seacrh</button> -->
      </form>


    <table class="table table-bordered table-hover mt-3 " >
      <thead class="thead-dark">
      <tr>
        <th (click)="sort('id')"><i class="fas fa-sort" style="color: aliceblue;"></i>#</th>
        <th (click)="sort('username')"><i class="fas fa-sort" style="color: aliceblue;"></i>Username</th>
        <th (click)="sort('fullname')"><i class="fas fa-sort" style="color: aliceblue;"></i>Fullname</th>
        <th scope="col">Phone</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of arrAccounts | orderBy: key: reverse | paginate: {itemsPerPage :5, currentPage : p} ">
        <th scope="row">{{account.id}}</th>
        <td>{{ account.username }}</td>
        <td>{{ account.fullname }}</td>
        <td>{{ account.phone }}</td>
        <td>
          <div name="btnupdate" class="btn btn-primary mr-2  "(click)="open(account.id)">update</div>
          <div class="btn btn-danger" (click)="delete(account.id)">Delete</div>
        </td>
      </tr>
    </tbody>
   
  </table>
  <pagination-controls (pageChange)="p =$event"></pagination-controls>
  <ul class="list-group"></ul>
</main>
