<div class="wrapper">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Change password</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
                <div class="form-group">
                    <label for="Password">OldPassword</label>
                    <input type="password" formControlName="oldPassword" class="form-control"
                      [ngClass]="{ 'is-invalid': f.oldPassword.touched && f.oldPassword.errors }" />
                    <div *ngIf="f.oldPassword.errors && f.oldPassword.touched" class="alert alert-danger" role="alert">
                      <div *ngIf="f.oldPassword.errors.required">Password is required</div>
                      <div *ngIf="f.oldPassword.errors.minlength">Password must be at least 3 characters</div>
                    </div>
                  </div>
                <div class="form-group">
                    <label for="newPassword">New password</label>
                    <input  type="password" formControlName="newPassword" class="form-control"
                      [ngClass]="{ 'is-invalid': f.newPassword.touched && f.newPassword.errors }" />
                    <div *ngIf="f.newPassword.errors &&f.newPassword.touched" class="alert alert-danger" role="alert">
                      <div *ngIf="f.newPassword.errors.mustNotMatch">Can not use current password</div>
                      <div *ngIf="f.newPassword.errors.required">New password is required</div>
                      <div *ngIf="f.newPassword.errors.minlength">New password must be at least 3 characters</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="ConfirmPassword">Confirm password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control"
                      [ngClass]="{ 'is-invalid':f.confirmPassword.touched&& f.confirmPassword.errors }" />
                    <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="alert alert-danger" role="alert">
                      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Confirmation password do not match</div>
                    </div>
                  </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mr-3" [disabled]="!changePasswordForm.valid">Change
                        Password</button>
                        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>