<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
      aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" routerLink="Home">Home</a>

        <li class="nav-item" *ngIf="authenticationService.currentUserValue">
          <a class="nav-link" routerLink="user">List User</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="authenticationService.currentUserValue">
          <img src="https://img.icons8.com/bubbles/100/000000/administrator-male.png"
            class="rounded-circle img-sm nav-link" routerLink="profile" alt="profile image" />
          <span>Profile</span>
        </li>
        <li class="nav-item" *ngIf="!authenticationService.currentUserValue">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authenticationService.currentUserValue">
          <a class="nav-link" routerLink="resigter">Resigter</a>
        </li>
        <li class="nav-item pointer" *ngIf="authenticationService.currentUserValue">
          <a (click)="logout()" class="nav-link"> Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>